@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
body{
    font-family: 'Nunito', sans-serif;
    background-color: #f0f0f0;
}

/* img{
    width: 100%;

} */

.cards-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;

}

.cards{
    /* display: grid;
    grid-template-columns: 1fr; */
    background-color: #fff;
    color: #333;
    /* box-shadow: 3px 7px 5px 5px rgba(0, 0, 0, 0.133); */
    box-shadow: 18px 17px 0px -7px rgba(0, 0, 0, 0.1);
    /* margin: 30px 30px; */
    margin: 5rem 10rem;
    padding: 50px 25px;
    position: relative;
    width: 60%;
}

.cards img{
    width: 50%;
    margin: 30px auto;
}

.cards div h4{
    margin-bottom: 0;
    margin-top: 15px;
}

.cards div p {
    margin-top: 0;

}

.cards .images{
    /* display: flex;
    margin: auto;
    margin-bottom: 40px; */
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px auto;
    padding: 10px;
    margin-bottom: 40px;
}

.cards .images img{
    border: 1px solid rgba(51, 51, 51,0.198);
    padding: 10px;
    margin: 0 3px;
    cursor: pointer;
}

